<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">
	<!--配置Spring MVC相关配置-->
	<!--扫描controller包下所有使用注解的类型-->
	<context:component-scan base-package="com.xiaoshabao.**.controller" />
	
	<!-- 统一异常处理方式 -->
	<bean id="exceptionHandler" class="com.xiaoshabao.webframework.component.ExceptionHandler"/>
	
	<!--开启SpringMVC注解模式，可以使用Controller注解联系页面，
		支持数据绑定、数据格式化、JSON转换
		<mvc:annotation-driven /> 
		-->
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" />
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJacksonHttpMessageConverter" />
			</list>
		</property>
	</bean>
	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	<!--静态资源处理，加入对 JS 等处理，允许使用/映射-->
	<mvc:default-servlet-handler/>
	
	<!-- 文件上传 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8" />
		<property name="maxUploadSize">
			<value>10484560</value>
		</property>
		<!--resolveLazily属性启用是为了推迟文件解析，以便在UploadAction 中捕获文件大小异常 -->
		<property name="resolveLazily" value="true" />
	</bean>
	
	<!-- 设置JSP视图的属性 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/pages" />
		<property name="suffix" value=".jsp" />
		<property name="order" value="3"></property>
	</bean>
	<!-- 拦截器配置-->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/wechat/**/*"/>
			<mvc:exclude-mapping path="/wechat/file/**/*"/>
			<mvc:exclude-mapping path="/wechat/service/**/*"/>
			<bean class="com.xiaoshabao.wechat.interceptor.WechatInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
</beans>
